<style>
        h1
        {
            color:red;
            background-color: rgba(0, 170, 161, 0.5);
            font-family:"맑은 고딕", Arial, Helvetica, sans-serif;
        }   
        /*
        medium = 16px = 1em = 100% = 12pt(인쇄용)
        */
        header h1
        {
            font-size: x-large;
        }
        a
        {
            text-decoration: none;
        }
        ul
        {
            list-style-type: none;
        }
        nav ul
        {
            text-align: center;
            border-top: 2px solid indianred;
            border-bottom: 2px solid indianred;
            padding: 15px 0px
        }
        nav ul li
        {
            display: inline;
            text-transform: uppercase;
            letter-spacing: 5px;
            padding: 15px 25px;
        }
        nav ul li:hover
        {
            background-color: indianred;
        }
        nav ul a:hover
        {
            color: white;
        }
</style>